<head>
	<meta charset="utf-8">
	<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
	<% if (page === 'response') { %>
		<title><%= title_r %></title>
	<% } else { %>	
		<title><%= title_h %></title>
	<% } %>

	<meta content="width=device-width,initial-scale=1" name="viewport">
	<!-- Meta data -->
	<meta name="description" content="">
	<meta name="dcterms.creator" content="Government of Canada, Treasury Board of Canada Secretariat, Office of the Chief Information Officer, Cyber Security">
	<meta name="dcterms.creator" lang="fr" content="Gouvernement du Canada, Secrétariat du Conseil du Trésor du Canada, Bureau du dirigeant principal de l’information, cyber-sécurité">
	<meta name="dcterms.modified" title="W3CDTF" content="">
	<meta name="dcterms.subject" title="scheme" content="Government of Canada, authentication">
	<meta name="dcterms.subject" lang="fr" title="scheme" content="Gouvernement du Canada, authentication">
	<!-- Meta data-->
	<!--[if gte IE 9 | !IE ]><!-->
	<link href="<%= ui_config.wet_cdts_hosturl %>/<%= ui_config.wet_cdts_version %>/wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon">
	<link rel="stylesheet" href="<%= ui_config.wet_cdts_hosturl %>/<%= ui_config.wet_cdts_version %>/wet-boew/css/theme.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha256-mUZM63G8m73Mcidfrv5E+Y61y7a12O5mW4ezU3bxqW4=" crossorigin="anonymous"/>
	<!--<![endif]-->
	<!--[if lt IE 9]>
	<link href="<%= ui_config.wet_cdts_hosturl %>/<%= ui_config.wet_cdts_version %>/wet-boew/assets/favicon.ico" rel="shortcut icon" />
	<link rel="stylesheet" href="<%= ui_config.wet_cdts_hosturl %>/v4_0_32/css/ie8-theme.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="<%= ui_config.wet_cdts_hosturl %>/<%= ui_config.wet_cdts_version %>/wet-boew/js/ie8-wet-boew.min.js"></script>
	  <![endif]-->
	<!--[if lte IE 9]> <![endif]-->
	<noscript><link rel="stylesheet" href="<%= ui_config.wet_cdts_hosturl %>/<%= ui_config.wet_cdts_version %>/wet-boew/css/noscript.min.css" /></noscript>
	<script type="text/javascript" src="/javascript/utils.js"></script>
</head>
