<!DOCTYPE html>

<html lang="<%= lang %>">
<%- include('head')-%>

<body onload="setOptionsValues()" vocab="http://schema.org/" typeof="WebPage" class="page-home">
	<%- include('header')-%>
	<main property="mainContentOfPage" class="container">
		<div class="row profile">
			<div class="col-md-12">
				<h1 property="name" id="wb-cont"><%= content_title %> (<%= ui_config.client_label %>)</h1>
			</div>
		</div>
		<div class="row mrgn-tp-md">
			<nav role="navigation" class="col-md-3">
			<div class="panel panel-default">
				<header class="panel-heading">
				<h2 class="panel-title"><%= request_parameters %></h2>
				</header>
				<div class="panel-body">
					<%- include('parameters')-%>
				</div>
			</div>
			</nav>
			<section class="col-md-9">
				<div class="panel panel-info">
					<div class="panel-body">
						<p><%= content_lnote %></p>
				
						<% oidc_clients.forEach( (client) => { %>
						<p> 
							<a class="btn btn-primary" id="<%= client.name %>" href="/auth/<%= client.name %>" onclick="submitWithQueryString(this)"><span class="fas fa-sign-in-alt"></span> <%= signin %></a> <% if ( client.sic != false ) {%> <%= sic_label %> - <% } %><%= client.description %>
						</p>
						<%});%>
					</div>
				</div>			
			</section>
			<section class="col-md-9">
				<div class="panel panel-info">
				  <div class="panel-body small">
					  <%- include('parameters-help')-%>
				  </div>
				</div>
			  </section>
		</div>
		<%- include('preFooter')-%>
	</main>	
	<%- include('footer')-%>
</body></html>
